In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("C:\\Users\\S TRIVENI REDDY\\Downloads\\CreditCardFraudData.csv")
df

,Merchant_Id,Avg_Amt_Per_Transaction_Per_Day,Transaction_Amt,Is_Declined,Total_Number_of_Declines_Per_Day,Is_Foreign_Transaction,Is_HighRisk_Country,Daily_Chargeback_Avg_Amt,6_Month_Avg_Chbk_Amt,6_Month_Chbk_Freq,Is_Fradulent
0,3160040998,100.0,3000.0,N,5,Y,Y,0.0,0.0,0,Y
1,3160040998,100.0,4300.0,N,5,Y,Y,0.0,0.0,0,Y
2,3160041896,185.5,4823.0,Y,5,N,N,0.0,0.0,0,Y
3,3160141996,185.5,5008.5,Y,8,N,N,0.0,0.0,0,Y
4,3160241992,500.0,26000.0,N,0,Y,Y,800.0,677.2,6,Y
...,...,...,...,...,...,...,...,...,...,...,...
3070,6661273532,500.0,11000.0,Y,0,N,N,754.0,585.0,7,N
3071,6661273532,800.0,0.0,Y,0,N,N,754.0,585.0,7,N
3072,6661273533,800.0,20800.0,Y,0,N,N,754.0,585.0,7,N
3073,6661273532,1500.0,12000.0,Y,0,Y,Y,754.0,585.0,7,N
3074,6661273533,1500.0,36000.0,Y,0,Y,Y,754.0,585.0,7,N

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3075 entries, 0 to 3074
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Merchant_Id                       3075 non-null   int64
 1   Avg_Amt_Per_Transaction_Per_Day   3075 non-null   float64
 2   Transaction_Amt                   3075 non-null   float64
 3   Is_Declined                       3075 non-null   object
 4   Total_Number_of_Declines_Per_Day  3075 non-null   int64
 5   Is_Foreign_Transaction            3075 non-null   object
 6   Is_HighRisk_Country               3075 non-null   object
 7   Daily_Chargeback_Avg_Amt          3075 non-null   float64
 8   6_Month_Avg_Chbk_Amt              3075 non-null   float64
 9   6_Month_Chbk_Freq                 3075 non-null   int64
 10  Is_Fradulent                      3075 non-null   object
dtypes: float64(4), int64(3), object(4)
memory usage: 264.4+ KB

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df['is_declined_n']=le.fit_transform(df['Is_Declined'])
df['Is_Foreign_Transaction_n']=le.fit_transform(df['Is_Foreign_Transaction'])
df['Is_HighRisk_Country_n']=le.fit_transform(df['Is_HighRisk_Country'])
df['Is_Fradulent_n']=le.fit_transform(df['Is_Fradulent'])
df

,Merchant_Id,Avg_Amt_Per_Transaction_Per_Day,Transaction_Amt,Is_Declined,Total_Number_of_Declines_Per_Day,Is_Foreign_Transaction,Is_HighRisk_Country,Daily_Chargeback_Avg_Amt,6_Month_Avg_Chbk_Amt,6_Month_Chbk_Freq,Is_Fradulent,is_declined_n,Is_Foreign_Transaction_n,Is_HighRisk_Country_n,Is_Fradulent_n
0,3160040998,100.0,3000.0,N,5,Y,Y,0.0,0.0,0,Y,0,1,1,1
1,3160040998,100.0,4300.0,N,5,Y,Y,0.0,0.0,0,Y,0,1,1,1
2,3160041896,185.5,4823.0,Y,5,N,N,0.0,0.0,0,Y,1,0,0,1
3,3160141996,185.5,5008.5,Y,8,N,N,0.0,0.0,0,Y,1,0,0,1
4,3160241992,500.0,26000.0,N,0,Y,Y,800.0,677.2,6,Y,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3070,6661273532,500.0,11000.0,Y,0,N,N,754.0,585.0,7,N,1,0,0,0
3071,6661273532,800.0,0.0,Y,0,N,N,754.0,585.0,7,N,1,0,0,0
3072,6661273533,800.0,20800.0,Y,0,N,N,754.0,585.0,7,N,1,0,0,0
3073,6661273532,1500.0,12000.0,Y,0,Y,Y,754.0,585.0,7,N,1,1,1,0
3074,6661273533,1500.0,36000.0,Y,0,Y,Y,754.0,585.0,7,N,1,1,1,0

In [7]:
df=df.drop(['Merchant_Id','Is_Declined','Is_Foreign_Transaction','Is_HighRisk_Country','Is_Fradulent'],axis='columns')
df

,Avg_Amt_Per_Transaction_Per_Day,Transaction_Amt,Total_Number_of_Declines_Per_Day,Daily_Chargeback_Avg_Amt,6_Month_Avg_Chbk_Amt,6_Month_Chbk_Freq,is_declined_n,Is_Foreign_Transaction_n,Is_HighRisk_Country_n,Is_Fradulent_n
0,100.0,3000.0,5,0.0,0.0,0,0,1,1,1
1,100.0,4300.0,5,0.0,0.0,0,0,1,1,1
2,185.5,4823.0,5,0.0,0.0,0,1,0,0,1
3,185.5,5008.5,8,0.0,0.0,0,1,0,0,1
4,500.0,26000.0,0,800.0,677.2,6,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...
3070,500.0,11000.0,0,754.0,585.0,7,1,0,0,0
3071,800.0,0.0,0,754.0,585.0,7,1,0,0,0
3072,800.0,20800.0,0,754.0,585.0,7,1,0,0,0
3073,1500.0,12000.0,0,754.0,585.0,7,1,1,1,0
3074,1500.0,36000.0,0,754.0,585.0,7,1,1,1,0

In [8]:
df=df.rename(columns={'6_Month_Avg_Chbk_Amt': 'Month_Avg_Chbk_Amt', '6_Month_Chbk_Freq': 'Month_Chbk_Freq'})
df

,Avg_Amt_Per_Transaction_Per_Day,Transaction_Amt,Total_Number_of_Declines_Per_Day,Daily_Chargeback_Avg_Amt,Month_Avg_Chbk_Amt,Month_Chbk_Freq,is_declined_n,Is_Foreign_Transaction_n,Is_HighRisk_Country_n,Is_Fradulent_n
0,100.0,3000.0,5,0.0,0.0,0,0,1,1,1
1,100.0,4300.0,5,0.0,0.0,0,0,1,1,1
2,185.5,4823.0,5,0.0,0.0,0,1,0,0,1
3,185.5,5008.5,8,0.0,0.0,0,1,0,0,1
4,500.0,26000.0,0,800.0,677.2,6,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...
3070,500.0,11000.0,0,754.0,585.0,7,1,0,0,0
3071,800.0,0.0,0,754.0,585.0,7,1,0,0,0
3072,800.0,20800.0,0,754.0,585.0,7,1,0,0,0
3073,1500.0,12000.0,0,754.0,585.0,7,1,1,1,0
3074,1500.0,36000.0,0,754.0,585.0,7,1,1,1,0

In [9]:
x=df.iloc[:,:9]
x

,Avg_Amt_Per_Transaction_Per_Day,Transaction_Amt,Total_Number_of_Declines_Per_Day,Daily_Chargeback_Avg_Amt,Month_Avg_Chbk_Amt,Month_Chbk_Freq,is_declined_n,Is_Foreign_Transaction_n,Is_HighRisk_Country_n
0,100.0,3000.0,5,0.0,0.0,0,0,1,1
1,100.0,4300.0,5,0.0,0.0,0,0,1,1
2,185.5,4823.0,5,0.0,0.0,0,1,0,0
3,185.5,5008.5,8,0.0,0.0,0,1,0,0
4,500.0,26000.0,0,800.0,677.2,6,0,1,1
...,...,...,...,...,...,...,...,...,...
3070,500.0,11000.0,0,754.0,585.0,7,1,0,0
3071,800.0,0.0,0,754.0,585.0,7,1,0,0
3072,800.0,20800.0,0,754.0,585.0,7,1,0,0
3073,1500.0,12000.0,0,754.0,585.0,7,1,1,1
3074,1500.0,36000.0,0,754.0,585.0,7,1,1,1

In [10]:
y=df.iloc[:,9]
y

0       1
1       1
2       1
3       1
4       1
       ..
3070    0
3071    0
3072    0
3073    0
3074    0
Name: Is_Fradulent_n, Length: 3075, dtype: int32

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()

In [14]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [15]:
rfc.score(x_test,y_test)

0.983739837398374

In [16]:
rfc.predict([[100.0,3000.0,5,0.0,0.0,0,0,1,1]])

array([1])

In [17]:
import pickle
pickle.dump(rfc,open("ccd.pkl","wb"))

In [18]:
model=pickle.load(open("ccd.pkl","rb"))

In [19]:
model.predict([[1500.0,36000.0,0,754.0,585.0,7,1,1,1]])

array([0])